  <div id="follow_form">
  <% if current_user.following?(user) %>
    <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                 html: { method: :delete }) do |f| %>
      <%= button_tag class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent"  do %>
        <i class="material-icons">mood_bad</i> Unfollow
        <% end %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <div><%= hidden_field_tag :followed_id, user.id %></div>
      <%= button_tag class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" do %>
        <i class="material-icons">mood</i> Follow
      <% end %>
    <% end %>
  <% end %>
  </div>
