<ul class="mdl-list">
  <li class="mdl-list__item mdl-list__heading">
    <h4>Change Your Password</h4>
  </li>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <li class="mdl-list__item">
      <div class="mdl-textfield mdl-js-textfield">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons form-icon">lock</i>
          <%= f.label :password, class: 'mdl-textfield__label' %>
          <span class="mdl-list__item-text-body">
            <%= f.password_field :password, autocomplete: "off", class: 'mdl-textfield__input' %>
          </span>
        </span>
      </div>
    </li>

    <li class="mdl-list__item">
      <div class="mdl-textfield mdl-js-textfield">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons form-icon">lock_open</i>
          <%= f.label :password_confirmation, class: 'mdl-textfield__label' %>
          <span class="mdl-list__item-text-body">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'mdl-textfield__input' %>
          </span>
        </span>
      </div>
    </li>

    <div class="mdl-list__item">
      <%= f.submit "Change my password", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</ul>
