<% @restaurants.each do |restaurant| %>
  <div class="card">
    <div class="restaurant-card">
      <%= image_tag restaurant.restaurant_pic.url, size: 300, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.name %></h5>
        <p class="card-text">
          <%= restaurant.location %><br />
          <%= render partial: 'home/stars', locals: { restaurant: restaurant } %>
          <% @ratings.each do |rating| %>
            <div class="container">
              <% if rating.restaurant_id == restaurant.id %>
                <%= rating.title %>
                <%= rating.score %><br />
                <%= rating.description %><br />
              <% end %>
            </div>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <br />
<% end %>
