<div class="container">
	<div class="row">
	<div class="col">
    <div class="card" style="max-width: 300px">
        <%= image_tag("chris.jpg", :alt => "Card image cap", :class => "style_image") %>
        <div class="card-body">
        	<div class="row">
        		<div class="col-8">
            		<p class="card-text">Chris Tran <br> Charlotte, NC </p>
            	</div>
            	<div class="col-4">
								<%= link_to 'Follow', following_path, class: 'btn btn-float btn-primary' do %><i class="material-icons">add</i><% end %>
            	</div>
        	</div>
    </div>
    <button type="button" class="btn btn-warning btn-lg btn-block">Who I Follow</button>
	<button type="button" class="btn btn-warning btn-lg btn-block">Recommended</button>
	<button type="button" class="btn btn-warning btn-lg btn-block">Message Me</button>
        </div>
	</div>
	<div class="col">
	<div aria-hidden="true" class="navdrawer-right navdrawer-permanent-lg" id="navdrawerPermanent" tabindex="-1">
		<% @restaurants.each do |restaurant| %>
  <div class="container">
  	<div class="row justify-content-between">
  		<div class="col col-md-auto offset-md-3">
    		<div class="card">
      <%= image_tag "blank.jpg", class: "card-img-top" %>
      <%# image_tag @restaurant.pic, class: "card-img-top" %>
		      	<div class="card-body">
		        	<h5 class="card-title"><%= restaurant.name %></h5>
		        		<p class="card-text">
		          <%= restaurant.location %>
		          <!--  follower's ratings and reviews-->
		        		</p>
		        </div>
   			</div>
	     </div>
     </div>
  </div>
<% end %>

  	</div>
    	</div>
	</div>
	</div>

<br>
