<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card restaurant-card">
    <%= image_tag @restaurant.restaurant_pic.url, size: 300, class: "card-img-top" %>
    <div class="card-body ">
      <h5 class="card-title"><%= @restaurant.name %></h5>
      <p class="card-text">
        <%= @restaurant.location %><br />
        <%= render 'home/stars' %><br />
        <% @ratings.each do |rating| %>
          <div class="container">
            <% if rating.restaurant_id == @restaurant.id %>
              <%= rating.title %>
              <%= rating.score %><br />
              <%= rating.description %><br />
            <% end %>
          </div>
        <% end %>
      </p>
    </div>
  </div>

  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>

</div>
